/*
  Name: Sonia Fereidooni
  Date: 08.29.19
  Section: CSE 190e
  This is the style.css page for my portfolio of web development
 	work. It is used by all pages in my portfolio to give the site
a consistent look and feel.
*/

.mahogany {
    color: #C04000;
}

.back-pink {
    color: deeppink;
}

.green-font {
    color: #90EE90;
}

body {
    background-color: black;
    font-family: "Courier New", serif;
    color: white;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    /*   I got this image from https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwji37el57XkAhXDLH0KHQ2YCO0QjRx6BAgBEAQ&url=https%3A%2F%2Fwallpapercave.com%2Fcool-black-background-designs&psig=AOvVaw2UXgo97TGIPz3HFRr1Wz_x&ust=1567639340871276
  background-image: url("black.jpg"); */
}

h2,
h3,
ul,
ol {
    text-align: left;
}

.list-header {
    color: cyan;
}

/* img {
    width: 30%;
    height: auto;
} */

/* #footerImage {
    width: 3%;
    height: auto;
} */

footer {
    margin-top: 5%;
    font-size: 50%;
}
